{% extends "base.html" %}
{% block title %} Forecast RESTful server usage {% endblock %}
{% block header %} Accepted methods {% endblock %}
{% block content %}
    <ul>
        <li>
            <b>GET /</b> - show this page
        </li>
        <li>
            <b>TASK methods </b>
            <ul>
                <li>
                    <b>GET /task/ID</b> - get info about task number ID (no params)
                    <ul>
                        Accepted mime-types:
                        <li>
                            <i>text/plain</i> - show info as plain text
                        </li>
                        <li>
                            <i>text/html</i> - show info as HTML-page
                        </li>
                        <li>
                            <i>text/xml, application/xml</i> - show info as XML
                        </li>
                        <li>
                            <i>application/xml</i> - show info as JSON object
                        </li>
                    </ul>
                </li>
                <li>
                    <b>PUT /task</b> - create task (form-data params: <i>lat</i> - latitude, <i>lon</i> - longitude)
                </li>
                <li>
                    <b>POST /task/ID</b> - update (change) task number ID (form-data params: <i>lat</i> - latitude, <i>lon</i>
                    - longitude)
                </li>
                <li>
                    <b>DELETE /task/ID</b> - delete task number ID (no params)
                </li>
            </ul>
        </li>
    </ul>
{% endblock %}